{% extends "layout.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2><small>Welcomme to Task manager</small></h2>
        </div>
    </div>
{% endblock %}