{% extends "layout.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if saved == true %}
                <div class="alert alert-success" role="alert">Task saved.</div>
            {% else %}
                <div class="alert alert-danger" role="alert">Task with sane name already exists!</div>
            {% endif %}
        </div>
    </div>
{% endblock %}